ColumnLimit: 100

UseTab: Never
IndentWidth: 4
NamespaceIndentation: Inner


AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignTrailingComments: true

SpaceAfterCStyleCast: true
